<%- include(_header) -%>
<div id='index' style="display:none;">
<div id='content'>
        <h1>Welkom terug!</h1>
        <div id='contentinhetmidden'>
            <h2>Inloggen</h2>
            <h3 id='error'></h3>
            <form id='login_c'>
                <input type="email" placeholder="Email" id="email">
                <input type="password" placeholder="Wachtwoord" id="password">
                <button type="submit" class='submit' class='h' id='inloggenc'>Inloggen</button>
            </form>
            <p id='inloggen_met_linkedin' class='c' style='margin-top:70px'>Inloggen met LinkedIn</p>
        </div>
        <p id='geen_account'class='geen_account_signin'><a href='signup'>Nog geen account?</a></p>
</div>
</div>
<div id="phone" style="display:none;">
    <div id='main_content'>
        <img src='logo.png' id='logo'>
        <div class='midphone' id='midphone_signin'>
            <h2>Inloggen</h2>
            <h3 id='error'></h3>
            <form>
                <div id='login'>
                    <input type="email" placeholder="Email" id="email">
                    <input type="password" placeholder="Wachtwoord" id="password">
                    <img id="eye" src="eye.svg" style="-webkit-filter: brightness(2);filter: brightness(2);">
                    <p id='inloggen_met_linkedin' class='a'>Inloggen met LinkedIn</p>
                </div>
                <button type="submit" class='submit' class='h' id='inloggen'>Inloggen</button>
            </form>
        </div>
        </div>
    <div id='onderaan'>
        <p>Nog geen account bij Namei?<br>Maak nu een account aan.</p>
        <p id='geen_account'class='geen_account_signin'><a href='signup'>Registreren</a></p>
    </div>
</div>
<script>
 var type;
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $('#index').remove();
                $('#phone').show();
                $('header').remove();
                type="applicant";
            } else {
                $('#phone').remove();
                $('#index').show();
                type="company";
            }
        document.getElementById("inloggenc").onclick = function submitForm(event){
        event.preventDefault();

        for(let i = 0; i < document.getElementsByTagName('input').length; i++)
            if(document.getElementsByTagName('input')[i].hasAttribute('required'))
                if(document.getElementsByTagName('input')[i].value == "")
                    return;

        var http = new XMLHttpRequest();
        http.open("POST", "/demo/chat/signin", true);
        http.setRequestHeader("Content-type","application/x-www-form-urlencoded");

        var data = "email=" + document.getElementById("email").value;
        data += "&password=" + document.getElementById("password").value + "&type=" + type;
        console.log(data);
        http.send(data);
        http.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let response = JSON.parse(this.responseText);
                if(response.status == "LoggedIn"){
                    setCookie('uuid', response.cookies.uuid)
                    setCookie('type', response.cookies.type)
                    window.location.href = "./";
                } else {
                    if(response.status=="NoUser"){
                        $('#error').text("Dit emailadres klopt niet.")
                    }
                    if(response.status=="WrongPassword"){
                        $('#error').text("Verkeerde wachtwoord ingevoerd.")
                    }
                }
            }
        };
    }

    function setCookie(a, b){
        document.cookie = a + "=" + b + ";"
    }
    </script>
</body>
<%- include(_footer) -%>