main > header{
    width:100%;
    min-height: 500px;
    display:flex;
    align-items:center;
}
main > header > .common-container{
    padding:50px 20px 20px 20px;
    color:white;
}
main > header .common-content,
main > header .common-buttongroup{
    padding:0 20px;
    max-width: 400px;
}

main > header .common-buttongroup{
    padding-top:50px;
}

/* page content */
/* arcade */
#arcade > h2,
#arcade > h2 > span{
    color:black;
    text-align: center;
}
#arcade > p{
    text-align: center;
}
#arcade .common-buttongroup {
    justify-content: center
}
#arcade .recommendation{
    width: 70%;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size:15px;
}

/* development */
#development{
    background:#f6f9fc;
}
#development .common-uppercase-title{
    text-align: center; 
}
@media(min-width: 720px){
    main > header{ min-height: 625px; }
}